.page{
    transform: translateX(100%);
    position: absolute;
    top: 0;
    max-width: 100%;
    overflow-x: hidden;
    opacity: 0;
    min-height: -webkit-fill-available;
    display: flex;
    align-items: center;
}

.active-page{
    transform: translateX(0%);
    opacity: 1;
}