.headbar {
  align-items: center;
  box-sizing: border-box;
  background-color: whitesmoke;
  display: flex;
  font-family: Yanone Kaffeesatz, sans-serif;
  justify-content: space-between;
  width: 70%;
  position: fixed;
  padding: 1.5vw 0;
  top: 0;
  z-index: 1000; 
}
  
.nav-btn {
  color: #a3a3a3;
  font-size: 1.75vw;
}

.nav-btn:hover {
  cursor: pointer; }
  
.language {
  color: #939393;
  font-size: 1.25vw;
  font-weight: bold; }