
.key-skill {
  display: flex;
  flex-direction: column;
  font-family: Quicksand, sans-serif;
  align-items: center;
  width: 20%; }

.key-title {
  color: #424242;
  font-size: 1.5vw;
  font-weight: bold;
  margin: 2.5% 0; }

.key-desc {
  color: #848484;
  font-size: 1vw; }

.key-img {
  max-width: 65%; }
