/* Main color theme */
/*Secondary color theme*/
/*Third Color of the theme*/
/* Tones of gray */
/*~~~~~~~~~~~~~~Removing Default Style~~~~~~~~~~~~~*/
a {
  color: inherit;
  text-decoration: none; }

body {
  background: #f0f0f0;
  font-family: Quicksand, sans-serif;
  font-size: 1.2vw;
  margin: 0; }

.icon {
  margin: 0 !important; }

ul {
  margin: 0; }

li {
  list-style-type: none;
  margin-bottom: .5vw; }

section {
  margin-bottom: 5% !important; }

footer {
  margin-bottom: 5%; }

#main {
  margin: 0 15vw; }

/*~~~~~~~~~~~~~~Utilities~~~~~~~~~~~~~*/
#background-overlay {
  content: "";
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.img-fluid {
  max-width: 100%;
  max-height: 100%; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

/*~~~~~~~~~~~~~Animated Titles for all the different section~~~~~~~~~~*/
.title-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2% auto;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 1%; }


#nav-top {
  display: flex;
  font-family: Yanone Kaffeesatz, sans-serif;
  justify-content: space-between;
  width: 100%; }

#nav-btn {
  color: #a3a3a3;
  font-size: 2vw;
  z-index: 1000; }

#nav-btn:hover {
  cursor: pointer; }

.title-info {
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
  transform-origin: 0% 0%;
  transform: translateX(-110%); }

.title-border {
  background: #a3a3a3;
  position: absolute;
  left: 0;
  width: 0.1vw;
  height: 0%;
  transform-origin: 50% 50%;
  transition: all 1s ease; }

.title {
  margin-bottom: 1%;
  text-transform: uppercase;
  color: #57777f;
  font-weight: bold;
  font-family: Source Sans Pro,sans-serif; }

.legend {
  color: #939393;
  font-size: 2.5vw;
  font-family: Yanone Kaffeesatz, sans-serif; }

/*~~~~~~~~~~~~~~Navigation Section~~~~~~~~~~~~~~*/
#language {
  color: #939393;
  font-size: 1.25vw;
  font-weight: bold; }

#goDown-btn {
  animation: ArrowMovement 1250ms infinite;
  animation-timing-function: ease;
  border-radius: 50%;
  color: #3b6069;
  font-size: 1.5vw;
  padding: .5%;
  text-align: center;
  transition: background .3s ease;
  position: fixed;
  bottom: 5%;
  z-index: 100; }

#goDown-btn:hover {
  background: #3b6069;
  color: white;
  cursor: pointer; }

#about, #portfolio, #contact {
  background: white;
  box-shadow: 0.5vw 0.5vw 0.5vw #d1d1d1; }

/*~~~~~~~~~~~~~~Banner Section~~~~~~~~~~~~~~*/
#banner {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 100;
  padding: 2%;
  position: relative;
  width: 100%; }

/*~~~~~~~~~About Section~~~~~~~~~~~~*/
#about {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 .5vw;
  margin: 0 auto; }

/*About header*/
#about-header {
  display: flex;
  margin-bottom: 2%;
  justify-content: space-between;
  text-align: center; }

.key-skill {
  display: flex;
  flex-direction: column;
  font-family: Quicksand, sans-serif;
  align-items: center;
  width: 20%; }

.key-title {
  color: #424242;
  font-size: 1.5vw;
  font-weight: bold;
  margin: 2.5% 0; }

.key-desc {
  color: #848484;
  font-size: 1vw; }

.key-img {
  max-width: 65%; }

/*About Body*/
#about-body {
  display: flex;
  justify-content: space-between; }

/*My information*/
#my-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40%; }

.my-img {
  width: 60%; }

.my-desc {
  color: #848484; }

#skillset {
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow: hidden; }

#skillset-header {
  color: #b2b2b2;
  font-size: 1.5vw;
  font-weight: bold; }

.skill {
  background: #f0f0f0;
  display: flex;
  justify-content: space-between;
  margin: 4% 0; }

.skill-name, .skill-percentage {
  padding: 1% 2%; }

.skill-name {
  color: white;
  background: #57777f;
  width: 20%;
  font-family: Source Sans Pro, sans-serif;
  text-align: center;
  transition: transform 1s ease;
  white-space: nowrap; }

.skill-bar {
  display: flex;
  width: 80%; }

.skill-bar-bg {
  background: #738d94;
  transition: padding-left 1s ease; }

.skill-percentage {
  color: #939393;
  width: 10%;
  font-style: italic;
  font-weight: bold;
  text-align: right; }

/*~~~~~~~~~Portfolio Section~~~~~~~~~~~~*/
.active-prog {
  color: #57777f; }

.active-3d {
  color: #915a5a; }

.active-framework {
  color: #627f57; }

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin: 0 auto; }

#portfolio-header {
  color: #747474;
  font-size: 3vw;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 1%; }

.portfolio-body {
  display: flex;
  flex-wrap: wrap;
  transition: transform .5s ease;
  flex-shrink: 0;
  width: 100%; }

.portfolio-content {
  display: flex;
  overflow: hidden; }

.portfolio-bg {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .4s ease; }

.portfolio-item-md:hover > .portfolio-bg {
  transform: scale(1.05); }

.portfolio-item-md {
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vw;
  position: relative;
  padding: 3vw 1.5vw;
  transition: all .2s ease;
  overflow: hidden;
  width: 50%; }

.portfolio-item-md::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity .2s ease; }

.portfolio-item-md:hover::after {
  opacity: .9; }

.portfolio-item-md:hover > .portfolio-btn {
  transform: scaleY(1); }

.portfolio-item-md:hover {
  cursor: pointer;
  padding: 3% 2%; }

.portfolio-large {
  width: 100% !important; }

.portfolio-title {
  font-size: 4vw;
  font-family: EB Garamond, sans-serif;
  z-index: 50; }

.portfolio-bar {
  border-bottom: 3px solid white;
  width: 5vw;
  z-index: 50; }

.portfolio-legend, .project-desc {
  z-index: 50;
  width: 50%; }

.portfolio-btn {
  background: black;
  display: flex;
  padding: 1vw;
  position: absolute;
  transform-origin: 0 0;
  transform: scaleY(0);
  transition: transform .3s ease;
  right: 0;
  top: 0;
  z-index: 50; }

.cat-tab:hover {
  cursor: pointer; }

/*Portfolio detailed section*/
.project-detail {
  align-items: center;
  background: rgba(255, 255, 255, 0);
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: transform .5s ease, opacity .2s ease;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1000; }

.project-info {
  color: #747474;
  display: flex;
  font-family: Quicksand, sans-serif;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 2%; }

.project-desc {
  width: 50%; }

.project-key {
  border-left: 3px solid #d1d1d1;
  color: #627f57;
  text-align: left;
  width: 50%; }

.project-container {
  background: white;
  width: 60%; }

/*Carousel for the work section*/
.carousel-container {
  position: relative;
  height: 30vw;
  display: flex;
  overflow: hidden; }

.carousel {
  display: flex;
  transition: transform .4s ease; }

.carousel-img {
  display: block;
  max-width: 100%; }

.carousel-btn {
  background: black;
  color: white;
  font-size: 1.25vw;
  padding: 1.25vw;
  position: absolute;
  bottom: 0;
  opacity: .5; }

.left-btn {
  left: 0; }

.right-btn {
  right: 0; }

/*Background overlayed color*/
.over-blue::after {
  background-color: #1f4954; }

.over-green::after {
  background-color: #627f57; }

.over-red::after {
  background-color: #915a5a; }

.over-grey::after {
  background-color: #1F1F1F; }

/*~~~~~~~~~Contact Section~~~~~~~~~~~~*/
#contact {
  display: flex;
  flex-direction: column;
  margin: 0 auto; }

.contact-left {
  background: #738d94;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0 1vw; }

.contact-info {
  color: white;
  display: flex;
  margin: 1.5vw 0; }

.contact-icon {
  margin: 0 1vw; }

.contact-right {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1.5vw; }

.contact-container {
  display: flex; }

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/*Input Style*/
.form-group {
  width: 100%; }

input {
  margin: .5vw 0;
  border: none;
  border-left: 2px solid #d1d1d1;
  transition: all .2s ease;
  width: 100%; }

input, textarea {
  box-sizing: border-box;
  color: #939393;
  font-family: Quicksand, sans-serif;
  font-size: 1.2vw;
  padding: 1vw; }

textarea {
  border: none;
  border-left: 2px solid #d1d1d1;
  border-top: 2px solid #d1d1d1;
  padding-top: 0.5vw;
  width: 100%;
  height: 10vw;
  transition: all .2s ease; }

textarea:focus, input:focus {
  border-color: #738d94;
  outline: none; }

.send-btn {
  align-self: center;
  border: none;
  background: #738d94;
  color: white;
  font-family: Source Sans Pro, sans-serif;
  font-size: 1.25vw;
  padding: .75vw;
  margin-top: 0.5vw;
  transition: all .2s ease; }

.send-btn:hover {
  cursor: pointer;
  opacity: 0.6; }

/*~~~~~~~~~Keyframe Animation~~~~~~~~~~~~*/
@keyframes ArrowMovement {
  0% {
    transform-: translateY(0%); }
  50% {
    transform: translateY(15%); }
  100% {
    transform: translateY(0%); } }
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 700px) {
  #main {
    margin: 0; }

  ul {
    padding-left: 2.5vw; }

  .title-border {
    width: .3vw; }

  .portfolio-legend,
  .key-desc,
  .project-info {
    font-size: 3vw; }

  body,
  #skillset-header,
  .key-title,
  input,
  textarea,
  #language,
  .send-btn {
    font-size: 3.5vw; }

  .legend,
  .portfolio-title,
  #nav-container,
  #nav-btn,
  .carousel-btn,
  #goDown-btn {
    font-size: 6.5vw; }

  #my-info,
  #skillset,
  .contact-left,
  .contact-right,
  .project-container {
    width: 100%; }

  .key-skill, .key-img {
    width: 50%; }

  .nav {
    width: 60vw; }

  .nav-item {
    padding: 4vw 2vw; }

  .nav-social {
    font-size: 10vw; }

  #about-header {
    flex-wrap: wrap; }

  #about-body {
    flex-direction: column;
    text-align: center;
    padding: 0 6vw; }

  .key-skill {
    margin: 4vw 0; }

  .key-desc {
    width: 75%; }

  .portfolio-item-md {
    align-items: center;
    text-align: center;
    height: 60vw;
    width: 100%; }

  .portfolio-item-md:hover {
    padding: 3vw 1.5vw; }

  .portfolio-btn {
    padding: 2vw; }

  .portfolio-legend {
    width: 100%; }

  .project-desc {
    padding-right: 2.5vw; }

  .carousel-container {
    height: 60vw; }

  .contact-container {
    flex-wrap: wrap;
    flex-direction: column-reverse; }

  .contact-left {
    align-items: center;
    text-align: center; }

  .contact-info {
    flex-direction: column;
    margin: 2vw 0;
    width: 60%; }

  input {
    padding: 2vw;
    margin: 2vw 0; }

  textarea {
    height: 30vw; }

  .send-btn {
    padding: 3vw; }

  input,
  textarea {
    border-width: 1px !important; } }

/*# sourceMappingURL=input.css.map */
